.calculator {
  border: 1px solid rgb(82, 77, 77);
  width: max-content;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  background-color: #e8f5e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}